<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vikas.bookquotes" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.MainActivity" />
        </activity>
        <activity
            android:name=".Harrypotter"
            android:label="@string/title_activity_harrypotter"
            android:parentActivityName=".ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.ScrollingActivity" />
        </activity>
        <activity
            android:name=".philosophersstone"
            android:label="@string/title_activity_philosophersstone"
            android:parentActivityName=".Harrypotter"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.Harrypotter" />
        </activity>
        <activity
            android:name=".chamberofsecrets"
            android:label="@string/title_activity_chamberofsecrets"
            android:parentActivityName=".Harrypotter"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.Harrypotter" />
        </activity>
        <activity
            android:name=".prisonerazkaban"
            android:label="@string/title_activity_prisonerazkaban"
            android:parentActivityName=".Harrypotter"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.Harrypotter" />
        </activity>
        <activity
            android:name=".gobletfire"
            android:label="@string/title_activity_gobletfire"
            android:parentActivityName=".Harrypotter"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.Harrypotter" />
        </activity>
        <activity
            android:name=".orderphoenix"
            android:label="@string/title_activity_orderphoenix"
            android:parentActivityName=".Harrypotter"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.Harrypotter" />
        </activity>
        <activity
            android:name=".halfbloodprince"
            android:label="@string/title_activity_halfbloodprince"
            android:parentActivityName=".Harrypotter"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.Harrypotter" />
        </activity>
        <activity
            android:name=".deathlyhallows"
            android:label="@string/title_activity_deathlyhallows"
            android:parentActivityName=".Harrypotter"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.Harrypotter" />
        </activity>
        <activity
            android:name=".catcherrye"
            android:label="@string/title_activity_catcherrye"
            android:parentActivityName=".ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.ScrollingActivity" />
        </activity>
        <activity
            android:name=".lordoftherings"
            android:label="@string/title_activity_lordoftherings"
            android:parentActivityName=".ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.ScrollingActivity" />
        </activity>
        <activity
            android:name=".fellowshipofthering"
            android:label="@string/title_activity_fellowshipofthering"
            android:parentActivityName=".lordoftherings"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.lordoftherings" />
        </activity>
        <activity
            android:name=".thetwotowers"
            android:label="@string/title_activity_thetwotowers"
            android:parentActivityName=".lordoftherings"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.lordoftherings" />
        </activity>
        <activity
            android:name=".returnoftheking"
            android:label="@string/title_activity_returnoftheking"
            android:parentActivityName=".lordoftherings"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.lordoftherings" />
        </activity>
        <activity
            android:name=".lastmantower"
            android:label="@string/title_activity_lastmantower"
            android:parentActivityName=".ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.ScrollingActivity" />
        </activity>
        <activity
            android:name=".perksflower"
            android:label="@string/title_activity_perksflower"
            android:parentActivityName=".ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.ScrollingActivity" />
        </activity>
        <activity
            android:name=".thewhitet"
            android:label="@string/title_activity_thewhitet"
            android:parentActivityName=".ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vikas.bookquotes.ScrollingActivity" />
        </activity>
    </application>

</manifest>
